@{
    ViewBag.Title = "About";
}

    <div class="container about">
        <h1>Hello There, We are the <span class="about-bold">FITlosophi team!</span></h1>
        <span class="about-large">We are <span class="about-italic">all about Health</span> and <span class="about-italic">Fitness</span>. 
        <br> 
        <img src="~/Content/img/about-me.png" alt="Team" class="about-portrait img-responsive"></span>
        <span class="about-medium">Filosophi is about living it, and anyone serious about fitness knows that living healthy is about eating healthy, delicious foods and keeping your body active. Here at Filosophi, we believe that being fit is more than just a crash diet or a short-term gym membership, it is a lifestyle. Our goal is to share our ideas, tips, and recipes to help you achieve a healthy and maintainable lifestyle. So, use us as your 24 hour fitness pal, your motivational buddy-- we are here to keep you on track!</span>
        <hr>
    </div>
