@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<h2>About Us</h2>


    <div class="container about">
        <h1>Hello There, We are the <span class="about-bold">FITlosophi team!</span></h1>
        <span class="about-large">We are <span class="about-italic">all about Health</span> and <span class="about-italic">Fitness</span>. <br> <img src="~Content/img/about-me.png" alt="Team" class="about-portrait img-responsive"></span>
        <span class="about-medium">Lorem ipsum dolor sit amet, vocent posidonium pri ei, vel regione democritum cu. An sint aliquip insolens per, ex sint etiam pro.</span> <span class="about-small"> Lorem ipsum dolor sit amet, vocent posidonium pri ei, vel regione democritum cu. An sint aliquip insolens per, ex sint etiam pro.<span class="about-italic">fitness</span>, <span class="about-italic">vim</span>, <span class="about-italic">health</span> and <span class="about-italic">wellness</span>. We use this Blog to share our experiences and knowledge with the world.</span>
        <hr>
    </div>
