@model FITlosophiData.Models.StaticPage

@{
    ViewBag.Title = "AddPage";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 tales-superblock" id="contact">
        
        <h2>New Page</h2>
        
        <form action="#" method="get" accept-charset="utf-8" class="contact-form">
            <input type="text" name="Title" id="contact-name" placeholder="Title" class="form-control input-lg">
            <input type="email" name="ButtonName" id="contact-email" placeholder="Button Name" class="form-control input-lg">
            <br/>
            <textarea rows="10" name="Body" id="tinymce" class="form-control input-lg"></textarea>
            <div class="buttons clearfix">
                <button type="submit" class="btn btn-xlarge btn-tales-one">Submit</button>
            </div>
        </form>
    </div>
</div>  

@section Scripts{
    <!-- TinyMCE Script Reference -->
    @*<script src="~/scripts/tinymce/tinymce.min.js"></script>*@
    <!-- Script to wire up your TinyMCE editor -->
    <script type="text/javascript" src="~/Scripts/tinymce/TinyMCEInitializer.js"></script>
}