@using System.Collections.Specialized
@model FITlosophiData.Models.Post
@{
    ViewBag.Title = "AddPost";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 tales-superblock" id="contact">
        
        <br/>
        <h2>New Post</h2>

        <form action="#" method="get" accept-charset="utf-8" class="contact-form">
            <input type="text" name="Title" id="contact-name" placeholder="Title" class="form-control input-lg">
            <input type="email" name="Email" id="contact-email" placeholder="Email" class="form-control input-lg">
            <ul id="tagit">

            </ul >
            <textarea rows="10" name="Body" id="tinymce" class="form-control input-lg"></textarea>
            <div class="buttons clearfix">
                <button type="submit" class="btn btn-xlarge btn-tales-one">Submit</button>
            </div>
        </form>
    </div>
</div>        

@section Scripts{
<!-- TinyMCE Initializer -->
<script src="~/Scripts/tinymce/TinyMCEInitializer.js"></script>

<!--Tagit JS Library and Initializer-->
<script src="~/Scripts/tagit/tag-it.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/tagit/TagitInitializer.js"></script>
}