
@{
    ViewBag.Title = "ManagePages";
}

<h2>Manage Pages</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Date Created</th>
            <th>Page Name</th>
            <th>Date Published</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Publish</th>
        </tr>
    </thead>
    <tbody class="searchable">
    <tr>
        <td>1</td>
        <td>12/10/2015</td>
        <td>Disclaimer</td>
        <td>12/10/2015</td>
        <td>edit</td>
        <td>delete</td>
        <td>publish</td>
    </tr>
    <tr>
        <td>2</td>
        <td>12/10/2015</td>
        <td>Disclaimer</td>
        <td>12/10/2015</td>
        <td>edit</td>
        <td>delete</td>
        <td>publish</td>
    </tr>
    <tr>
        <td>3</td>
        <td>12/10/2015</td>
        <td>Disclaimer</td>
        <td>12/10/2015</td>
        <td>edit</td>
        <td>delete</td>
        <td>publish</td>
    </tr>
    <tr>
        <td>4</td>
        <td>12/10/2015</td>
        <td>Disclaimer</td>
        <td>12/10/2015</td>
        <td>edit</td>
        <td>delete</td>
        <td>publish</td>
    </tr>
    <tr>
        <td>5</td>
        <td>12/10/2015</td>
        <td>Disclaimer</td>
        <td>12/10/2015</td>
        <td>edit</td>
        <td>delete</td>
        <td>publish</td>
    </tr>

    </tbody>
</table>

