<div class="modal fade" id="addImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Uploade Image</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <h5 id="ModalMessage"></h5>
                            <input type="hidden" id="imageURL"/>
                            <div>
                                <form class="upload_form"></form>
                                <div class="progress-bar" >
                                    <div class="progress"></div>
                                </div>
                                <div class="form_line">
                                    <div class="form_controls">
                                        <div class="preview"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" id="btnConfirm">Submit</button>
            </div>
        </div>
    </div>
</div>


    