
<aside id="imageWidget" class="col-md-3" style="margin-top: 40px; overflow-y: scroll; height: 600px;">
    <!-- Least Gallery -->
    <section id="least">

        <!-- Least Gallery: Fullscreen Preview -->
        <div class="least-preview"></div>

        <!-- Least Gallery: Thumbnails -->
        <ul class="least-gallery" id="blogImageGallery">
            <!-- 1th thumbnail -->
        </ul>
    </section>
</aside>








