

<div class="modal fade" id="managePostsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <h5 id="ModalTitle"></h5>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <h5 id="ModalMessage"></h5>
                            <input type="hidden" id="PostID"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-tales-one" id="btnConfirm">Confirm</button>
            </div>
        </div>
    </div>
</div>