

<div class="modal fade" id="PublishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="PublishModalTitle">Publish</h4>
            </div>
            <div class="modal-body">
                <h5 id="PublishModalBodyTitle"></h5>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <h5 id="PuBlishModalMessage">
                                Publish wish auto-scheduling?
                                <br/>
                                <input type="radio" class="HasSchedule" value="1"/>Yes
                                <br/>
                                <input type="radio" class="HasSchedule" value="0" checked/>No
                            </h5>
                            <div id="PostScheduler" style="display: none">
                                <label for="FromDate">From</label>
                                <input type="text" id="FromDate"/>
                                <label for="ToDate">To</label>
                                <input type="text" id="ToDate"/>
                            </div>
                            <input type="hidden" id="PublishModalPostID" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-tales-one" id="PublishConfirm">Publish</button>
            </div>
        </div>
    </div>
</div>