@{
    ViewBag.Title = "Home Page";
}
<script src='~/Scripts/jquery-1.10.2.min.js' type='text/javascript'></script>
<script src='~/Scripts/jquery.ui.widget.js' type='text/javascript'></script>
<script src='~/Scripts/jquery.iframe-transport.js' type='text/javascript'></script>
<script src='~/Scripts/jquery.fileupload.js' type='text/javascript'></script>
<script src='~/Scripts/jquery.cloudinary.js' type='text/javascript'></script>

<script>
    $(document).ready(function () {
        $.cloudinary.config({ cloud_name: 'dk0wmifkq', api_key: '712155957643256' });
        //Setup input form for image upload to Cloudinary
        $('.upload_form').append($.cloudinary.unsigned_upload_tag("bep61vxi", { cloud_name: 'dk0wmifkq' }));


        $('.cloudinary_fileupload').bind('cloudinarydone', function (e, data) {
            //set the url data.url
            //var responsInfo = JSON.parse(data);
            console.log(data.result.url);

           // alert(data[0].url);
            $('#url').text = data.url;
            $('.preview').html(
              $.cloudinary.image(data.result.public_id,
                {
                    format: data.result.format, version: data.result.version,
                    crop: 'fill', width: 150, height: 100
                })
            );
            $('.image_public_id').val(data.result.public_id);
            return true;
        });

        //Display progress bar
        $('.cloudinary_fileupload').bind('fileuploadprogress', function (e, data) {
            $('.progress-bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%');
        });
    });

    

</script>

<div class="jumbotron">
    <h1>Image Uploader Prototype</h1>
    <p class="lead">Using Cloudinary.</p>
    <p>
        <a href="http://cloudinary.com/blog/direct_upload_made_easy_from_browser_or_mobile_app_to_the_cloud" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>
<div>
    <form class="upload_form"></form>
    @*<div class="upload_field"></div>*@
    @*<input type="file" name="file" class="cloudinary-fileupload">*@
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
    <div class="form_line">
        <div class="form_controls">
            <div class="preview"></div>
        </div>
    </div>
    <text id="url"></text>
</div>

